h4  {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
h1 {

  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;

}
  h3 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
  }
h2 {
    font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
  }
}
h5 {
  font-family: Helvetica;
  font-size: 11px;
  background-color: dimgray;
  color: white;
}
ul {
  list-style-type: none;
}
.bg {
  background-image: url("resources/the-flatiron-building.png");
}
li {
  color: white;
  font-size: 18px;
}
